{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<br>
	<div class="row">
		<div class="col-4 col-md-4">
			<div class="form-group">
				<label>Se eliminará el siguiente <b>Descuento</b>:</label>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4 col-md-2">
			<div class="form-group">
				<label class="form-control" style="box-shadow: none; border: 0">Descuento ID</label>
			</div>
		</div>
		<div class="col-4 col-md-2">
			<div class="form-group">
				<input type="hidden" id="txtfrmdscto_despachoid" name="txtfrmdscto_despachoid" value="{{ objdescuento.despacho.id }}">
				<input class="form-control" type="text" id="txtfrmdscto_dsctoid" name="txtfrmdscto_dsctoid" readonly="readonly" value="{{ objdescuento.id }}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4 col-md-2">
			<div class="form-group">
				<label class="form-control" style="box-shadow: none; border: 0">Producto</label>
			</div>
		</div>
		<div class="col-4 col-md-2">
			<div class="form-group">
				<input type="hidden" id="txtfrmdscto_productoid" name="txtfrmdscto_productoid" value="{{ objdescuento.producto.id }}">
				<input class="form-control" type="text" id="txtfrmdscto_producto" name="txtfrmdscto_producto" readonly="readonly" value="{{ objdescuento.producto.descripcion }}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4 col-md-2">
			<div class="form-group">
				<label class="form-control" style="box-shadow: none; border: 0">Cliente</label>
			</div>
		</div>
		<div class="col-4 col-md-2">
			<div class="form-group">
				<input type="hidden" id="txtfrmdscto_clienteruc" name="txtfrmdscto_clienteruc" value="{{ objdescuento.cliente }}">
				<input class="form-control" type="text" id="txtfrmdscto_cliente" name="txtfrmdscto_cliente" readonly="readonly" value="{{ objcliente.razonsocial }}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4 col-md-2">
			<div class="form-group">
				<label class="form-control" style="box-shadow: none; border: 0">Galones Descuento</label>
			</div>
		</div>
		<div class="col-4 col-md-2">
			<div class="form-group">
				<input class="form-control" type="text" id="txtfrmdscto_cantdcto" name="txtfrmdscto_cantdcto" readonly="readonly" value="{{ objdescuento.cantidad }}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4 col-md-2">
			<div class="form-group">
				<label class="form-control" style="box-shadow: none; border: 0">Monto Descuento</label>
			</div>
		</div>
		<div class="col-4 col-md-2">
			<div class="form-group">
				<input class="form-control" type="text" id="txtfrmdscto_monto" name="txtfrmdscto_monto" readonly="readonly" value="{{ objdescuento.monto_dscto }}">
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-3 col-md-3">
			<div class="form-group">
				<label>¿Desea eliminar el registro?</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4 col-md-4">
			<div class="form-group">
				<button class="btn btn-danger" type="submit">Sí, eliminar.</button>
				<a class="btn btn-default" href="{% url 'control:dctlst' objdescuento.despacho.id objdescuento.producto.id  %}">Cancelar</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}