{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	
	<h3>Gastos del Turno: <b><input style="box-shadow: none; border: 0;" type="text" id="txtidturno_gto" name="txtidturno_gto" value="{{pkturno}}"></b></h3>
	
	<br>
	<div class="row">
		<div class="col-2 col-md-2">
			<div class="form-group">
				<a href="{% url 'control:gtoadd' pkturno %}" class="btn btn-primary" style="width: 100%">Agregar Gasto</a>
			</div>
		</div>
	</div>
	<table class="table table-bordered">
		<!-- CABECERA DE LA TABLA -->
		<thead>
			<tr>
				<td>ID Gasto</td>
				<td>ID Turno</td>
				<td>Descripcion</td>
				<td>Monto</td>
				<td>Acciones</td>
			</tr>
		</thead>
		<!-- CUERPO DE LA TABLA -->
		<tbody>
			{%	if misgastos_turno %}
			{%		for migto in misgastos_turno %}
			<tr>
				<td>{{ migto.id }}</td>
				<td>{{ migto.turno.id }}</td>
				<td>{{ migto.descripcion }}</td>
				<td>{{ migto.monto }}</td>
				<td>
					<a class="btn btn-danger" href="{% url 'control:gtodel' migto.id %}">Eliminar</a>
				</td>
			</tr>
			{%		endfor %}
			{%	else %}
			<tr><td colspan="5">NO hay GASTOS en este TURNO</td></tr>
			{%	endif %}
		</tbody>
	</table>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item">
				{% if page_obj.has_previous %}
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
				{% endif %}
			</li>
			<li class="page-item">
				{% if page_obj.has_next %}
				<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
				{% endif %}
			</li>
		</ul>
	</nav>
	<a class="btn btn-warning" href="{% url 'control:ctledt' pkturno %}">Volver a Turno</a>
</form>
{% endblock %}