{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	
	<h3><b>Resumen Galones x Dia</b></h3>
	
	<br>
	<table class="table table-bordered">
		<!-- CABECERA DE LA TABLA -->
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Producto</th>
				<th>Glns.Despachados</th>
			</tr>
		</thead>
		<!-- CUERPO DE LA TABLA -->
		<tbody>
			{%	if misdespachos_list %}
			{%		for itm in misdespachos_list %}
			<tr>
				<td>{{ itm.turno_id__fecha }}</td>
				<td>{{ itm.producto_id__descripcion }}</td>
				<td>{{ itm.despachado }}</td>
			</tr>
			{%		endfor %}
			{%	else %}
			<tr><td colspan="3">No hay registros</td></tr>
			{%	endif %}
		</tbody>
	</table>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item">
				{% if page_obj.has_previous %}
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
				{% endif %}
			</li>
			<li class="page-item">
				{% if page_obj.has_next %}
				<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
				{% endif %}
			</li>
		</ul>
	</nav>
	<a class="btn btn-warning" href="{% url 'control:index' %}">A Principal</a>
</form>
{% endblock %}