{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	
	<h3><b>Resumen de Ventas</b></h3>
	
	<br>
	<table class="table table-bordered">
		<!-- CABECERA DE LA TABLA -->
		<thead>
			<tr>
				<td>Fecha</td>
				<td>Vta.Tot.Bruta</td>
				<td>Tot.Gastos</td>
				<td>Cuenta Dia</td>
				<td>Entrega Dia</td>
				<td>Tot.Faltante</td>
			</tr>
		</thead>
		<!-- CUERPO DE LA TABLA -->
		<tbody>
			{%	if lista_resumen %}
			{%		for itm in lista_resumen %}
			<tr>
				<td>{{ itm.fecha }}</td>
				<td>{{ itm.totbruto }}</td>
				<td>{{ itm.totgasto }}</td>
				<td>{{ itm.totcuenta }}</td>
				<td>{{ itm.totentrega }}</td>
				<td>{{ itm.diferencia }}</td>
			</tr>
			{%		endfor %}
			{%	else %}
			<tr><td colspan="6">No hay registros</td></tr>
			{%	endif %}
		</tbody>
	</table>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item">
				{% if page_obj.has_previous %}
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
				{% endif %}
			</li>
			<li class="page-item">
				{% if page_obj.has_next %}
				<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
				{% endif %}
			</li>
		</ul>
	</nav>
	<a class="btn btn-warning" href="{% url 'control:index' %}">A Principal</a>
</form>
{% endblock %}