{% extends 'base/base.html' %}

{% block title %}
Sistema de Grifo - Abigail
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

{% if validlink %}

<h1>Recuperar contraseña</h1>
<form method="post">
	{% csrf_token %}
	{{form.new_password1.errors}}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label for='id_new_password1'>Contraseña</label>{{ form.new_password1 }}
			</div>
		</div>
	</div>
	{{form.new_password2.errors}}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label for='id_new_password2'>Confirmar contraseña</label>{{ form.new_password2 }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Cambiar contraseña">
			</div>
		</div>
	</div>
</form>
{% else %}
<h3 class="text-center">Este enlace ha expirado.</h3>
{% endif %}
{% endblock %}