{% extends 'base/base.html' %}

{% block title %}
Sistema de Grifo - Abigail
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<p><h2>Recuperar contraseña</h2></p>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label>Correo</label>{{ form.email }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Enviar">
			</div>
		</div>
	</div>
</form>
{% endblock %}